<!doctype html>
<html class="no-js">
<head>
    <title>Information Hub BLTI Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="HandheldFriendly" content="true">

    {% load staticfiles %}
    {% load compress %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{% static "infohub/css/mobile.less" %}" media="screen, handheld" />
    <link rel="stylesheet" type="text/less" href="{% static "infohub/css/desktop.less" %}" media="screen and (min-width: 480px)" />
    <link rel="stylesheet" type="text/less" href="{% static "infohub/css/blti.less" %}" media="screen and (min-width: 480px)" />
    {% endcompress %}

</head>
<body>

    <div id="wrapper" class="container" style="position:relative;">

        <div id="main-wrapper">
            <div id="main" aria-labelledby="uw_infohub_header">
               <div class="inner">{% block content %}{% endblock %}</div>
            </div><!--end #main-->
        </div>
    </div>

</body>
</html>
