{% extends 'infohub/base_blti.html' %}

{% load staticfiles %}

{% block content %}
<div class="canvas-infohub-container">

  <p>Hello 
  {% if is_seattle %}
    Seattle
  {% elif is_tacoma %}
    Tacoma
  {% elif is_bothell %}
    Bothell
  {% endif %}

  <p>Welcome {{ user_full_name }} ({{ user_login_id }})</p>

  <p>
  Looks like you're

  {% if is_instructor %}
  an instructor
  {% endif %}

  {% if is_ta %}
  a Teaching Assistant
  {% endif %}

  {% if is_student %}
  a Student
  {% endif %}

  {% if is_admin %}
  an admin
  {% endif %}
  in
  {{ course_long_name }} ({{ canvas_course_id }})
  </p>

</div>
{% endblock %}
