{% extends 'infohub/base_blti.html' %}

{% load staticfiles %}

{% block content %}
<div class="canvas-infohub-container">

  <p class="m-0 text-dark">Campus:
    {% if is_seattle %}
    Seattle
    {% elif is_tacoma %}
    Tacoma
    {% elif is_bothell %}
    Bothell
    {% endif %}
  </p>

  <p class="m-0 text-dark">Role:
    {% if is_instructor %}
    Instructor
    {% endif %}

    {% if is_ta %}
    Teaching Assistant
    {% endif %}

    {% if is_student %}
    Student
    {% endif %}

    {% if is_admin %}
    Admin
    {% endif %}

    - {{ course_long_name }} ({{ canvas_course_id }})
  </p>

  <div class="container-fluid mt-4">

    <div class="row">
      <div class="col">
        <h1 class="h2 mb-5" id="uw_infohub_header">UW Resources &amp; Tools</h1>

        <div class="p-3 mb-5 rounded" style="background: #f4f2ea;">
          <div class="h3 text-center">Welcome, {{ user_first_name }}!</div>
          {% if is_instructor or is_ta %}
          <p class="lead text-center">Explore different resources that will help you design your course and teach
            remotely!</p>
          {% endif %}
          {% if is_student %}
          <p class="lead text-center">Explore different resources that will help you be more effective in learning remotely!</p>
          {% endif %}
          {% if is_admin %}
          <p class="lead text-center">Here to help you be the best remote adminstrator ever!</p>
          {% endif %}
        </div>
      </div>
    </div>

    {% if is_instructor or is_ta or is_admin %}

    <h2 class="h4 mb-4">Class Resources</h2>

    <div class="row mb-5">
      <div class="col-md-4">

        <h3 class="h5">Configuration</h3>
        <div class="card mb-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="#" class="d-inline-block ">Add People</a> <span class="badge badge-warning">APP</span></h4>
              <p class="m-0 font-weight-light">Add students, teachers, and more to your course.</p>
            </li>
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="#" class="d-inline-block ">Manage UW Groups</a> <span class="badge badge-warning">APP</span></h4>
              <p class="m-0 font-weight-light">Manage and add UW groups to your course.</p>
            </li>
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="#" class="d-inline-block ">Apply Templates</a> <span class="badge badge-warning">APP</span></h4>
              <p class="m-0 font-weight-light">View and apply templates that will help create courses that are easy for students
                to navigate.</p>
            </li>
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="#" class="d-inline-block ">4.0 Grade Scale</a> <span class="badge badge-warning">APP</span></h4>
              <p class="m-0 font-weight-light">Create a grade scale for your Canvas assignments.</p>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-md-4">

        <h3 class="h5">Data</h3>
        <div class="card mb-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="#" class="d-inline-block ">Photo Class List</a> <span class="badge badge-warning">APP</span></h4>
              <p class="m-0 font-weight-light">View photos of students from your Canvas course.</p>
            </li>
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="#" class="d-inline-block ">Course Accessibility Report</a> <span class="badge badge-warning">APP</span></h4>
              <p class="m-0 font-weight-light">Check course content for accessibility issues.</p>
            </li>
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="#" class="d-inline-block ">MyUW Classlist</a></h4>
              <p class="m-0 font-weight-light">View students in your course.</p>
            </li>
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="#" class="d-inline-block ">MyUW Course Instructor Dashboard</a></h4>
              <p class="m-0 font-weight-light">View aggregated data from courses you’re teaching.</p>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-md-4">

        <h3 class="h5">Tools</h3>
        <div class="card mb-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h4 class="h6 m-0">
                <a href="#" class="d-inline-block ">Zoom</a>
                <a class="small text-muted" data-toggle="collapse" href="#collapseZoom" role="button" aria-expanded="false" aria-controls="collapseExample">more resources</a>
              </h4>
              <p class="m-0 font-weight-light">Schedule and start online class sessions.</p>
              <div class="collapse" id="collapseZoom">
                <ul class="mt-3 list-unstyled small">
                  <li><a href="https://itconnect.uw.edu/connect/phones/conferencing/zoom-video-conferencing/zoom-canvas/" target="_blank" class="d-inline-block">Teaching Guide: Zoom App in Canvas</a></li>
                  <li><a href="https://teaching.washington.edu/topics/teaching-remotely/technology-how-to-guides/" target="_blank" class="d-inline-block">Technology How-To Guide</a></li>
                </ul>
              </div>
            </li>
            <!--<li class="list-group-item">
              <h4 class="h6 m-0">
                <a href="#" class="d-inline-block ">Panopto Recording Scheduler</a>
                <a class="small text-muted" data-toggle="collapse" href="#collapsePanaptoScheduler" role="button" aria-expanded="true" aria-controls="collapseExample">more resources</a>
              </h4>
              <p class="m-0 font-weight-light">Schedule lecture recordings for your course with Panopto.</p>
               <div class="collapse show" id="collapsePanaptoScheduler">
                <ul class="mt-3 list-unstyled small">
                  <li><a href="https://itconnect.uw.edu/learn/tools/panopto/schedule-recordings/auto-sched/" target="_blank" class="d-inline-block">Schedule Lecture Capture (Automatically, via Canvas)</a></li>
                </ul>
              </div>
            </li>-->
            <li class="list-group-item">
              <h4 class="h6 m-0">
                <a href="#" class="d-inline-block ">Panopto Recordings</a>
                <a class="small text-muted" data-toggle="collapse" href="#collapsePanaptoRecordings" role="button" aria-expanded="false" aria-controls="collapseExample">more resources</a>
              </h4>
              <p class="m-0 font-weight-light">View previous Panopto Recordings.</p>
              <div class="collapse" id="collapsePanaptoRecordings">
                <ul class="mt-3 list-unstyled small">
                  <li><a href="https://itconnect.uw.edu/learn/tools/panopto/share-recordings/" target="_blank" class="d-inline-block">Share Recordings in Canvas</a></li>
                </ul>
              </div>
            </li>
            <li class="list-group-item">
              <h4 class="h6 m-0">
                <a href="#" class="d-inline-block ">Poll Everywhere</a>
                  <a class="small text-muted" data-toggle="collapse" href="#collapsePollEverywhere" role="button" aria-expanded="false" aria-controls="collapseExample">more resources</a>
              </h4>
              <p class="m-0 font-weight-light">Create poll responses for your classes.</p>
               <div class="collapse" id="collapsePollEverywhere">
                <ul class="mt-3 list-unstyled small">
                  <li><a href="https://itconnect.uw.edu/learn/tools/polleverywhere/" target="_blank" class="d-inline-block">IT Connect Help</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>

       </div>
    </div>


    <h2 class="h4 mb-4">Teaching Resources</h2>

    <div class="row mb-3">
      <div class="col-md-4">

        <h3 class="h5">Tools</h3>
        <div class="card mb-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="https://teaching.washington.edu/topics/teaching-remotely/" target="_blank" class="d-block">Teaching Remotely</a></h4>
              <p class="m-0 text-dark">Learn best practices for effective remote instruction.</p>
            </li>
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="https://canvas.uw.edu/courses/1392969" target="_blank" class="d-block">Teaching with UW Technologies</a></h4>
              <p class="m-0 text-dark">Learn more about technology you can use to support online instruction.</p>
            </li>
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="https://itconnect.uw.edu/learn/workshops/" target="_blank" class="d-block">Workshops</a></h4>
              <p class="m-0 text-dark">Participate in workshops on Canvas, Zoom, and Panopto</p>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-md-4">

        <h3 class="h5">Tacoma Campus</h3>
        <div class="card mb-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="https://canvas.uw.edu/courses/1418620" target="_blank" class="d-block">Hybrid and Online Teacher Training Course</a></h4>
              <p class="m-0 text-dark">Learn about developing an engaging, pedagogically sound online or hybrid course in Canvas through a self-paced course.</p>
            </li>
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="https://canvas.uw.edu/courses/1076981" target="_blank" class="d-block">Effective Strategies for Online Group Work</a></h4>
              <p class="m-0 text-dark">Discover common issues with group work and strategies that can be implemented to facilitate a productive experience for all members.</p>
            </li>
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="#" class="d-block ">Learn by Topic Toolkits</a></h4>
              <p class="m-0 text-dark">blurb coming soon...</p>
            </li>
          </ul>
        </div>

      </div>

      <div class="col-md-4">

        <h3 class="h5">Bothell Campus</h3>
        <div class="card mb-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="#" target="_blank" class="d-block ">Link TBD</a></h4>
              <p class="m-0 text-dark">blurb coming soon...</p>
            </li>
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="#" target="_blank" class="d-block ">Link TBD</a></h4>
              <p class="m-0 text-dark">blurb coming soon...</p>
            </li>
            <li class="list-group-item">
              <h4 class="h6 m-0"><a href="#" class="d-block ">Link TBD</a></h4>
              <p class="m-0 text-dark">blurb coming soon...</p>
            </li>
          </ul>
        </div>

      </div>
    </div>
    {% endif %}

    {% if is_student or is_admin %}
    <h2 class="h4 mb-4">Student Resources</h2>

    <div class="row">
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>

    {% endif %}

  </div>

</div>
{% endblock %}
